<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%- url === '/' ? 'active' : '' %>" href="/">Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%- url === '/random' ? 'active' : '' %>" href="/random">Losowy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%- url === '/add' ? 'active' : '' %>" href="/add">Dodaj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%- url === '/about' ? 'active' : '' %>" href="/about">O stronie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="/img/fb-icon.png" ></a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/" method="GET">
          <input class="form-control me-2" type="search" placeholder="Szukaj..." aria-label="Search" name="q">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>