<%- include('../partials/header.ejs') -%>
    <div class="card-body">
        <%- include('../partials/nav.ejs') %>
    </div>
    <div class="container">
        <div class="logo my-2">
            <a href="/"><img src="/img/logo.png" alt="Zwyrl.net logo"></a>
        </div>
    </div>
    <div class="container">
        <div class="card-body mx-5">
            <%- body %>
        </div>
    </div>
<%- include('../partials/footer.ejs') -%>