<h1 class="mt-3">Czym jest Zwyrol?</h1>
<div class="card card-body my-5 bg-light">
    <p>Na początek - jeśli jakakolwiek zawartość tej strony Cię zniesmaczyła, obrzydziła, obraziła uczucia religijne, to w takim razie nie jest to miejsce dla Ciebie. W tym momencie możesz przestać czytać dalej i użyć kombinacji klawiszy ALT+F4.</p>
    <p>Serwis ten powstał jako hołd dla nieistniejącej już (podobno z powodów politycznych) strony zwyrole.org. Śpij słodko Aniołku [*].</p>
    <p>Treści umieszczone na stronie nie mają na celu promowania niewłaściwych zachowań, obrażania kogokolwiek czy atakowania mniejszości. Jest to miejsce dla ludzi, którzych poczucie humoru wykracza poza ogólnie akceptowane normy i mają w dupie wszechobecną poprawność polityczną.</p>
    <p>Publikowane mategriały pochodzą z archiwów internetu lub zostały przesłane przez fanów.</p>
    <p>Administrator i właściciel witryny nie podnoszą odpowiedzialności za zamieszczone treści. </p>
    <img src="/img/political_correctness.jpg" alt="" class="about__political"></div>
</div>