<h1>Nakarm zwyrola</h1>
<div class="card card-body my-5 bg-light">
    <form method="POST">
        <label for="xywa" class="mb-3">Xywa</label>
        <input type="text" name="xywa" id="xywa" class="form-control mb-3">
        <label for="zwyrol" class="mb-3">Zwyrol</label>
        <textarea type="text" name="zwyrol" id="zwyrol" class="form-control mb-3"></textarea>
        <button class="btn btn-success my-3">Dodaj</button>
    </form>
</div>