<div class="card bg-light mb-3">
    <div class="card-body">
        <p>Zwyrol <a href="/zwyrol/<%= joke.id %>">#<%- joke.id %></a></p>
        <p><%- joke.date %></p>
        <p><%- joke.joke %></p>
    </div>
</div>